.w-embed-youtubevideo {
  width: 100%;
  position: relative;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/youtube-placeholder.2b05e7d68d.svg');
  background-size: cover;
  background-position: 50% 50%;
}

.w-embed-youtubevideo:empty {
  min-height: 75px;
  padding-bottom: 56.25%;
}

body {
  background-color: #fbfbff;
  font-family: Prompt, sans-serif;
  color: #2d2b5c;
  font-size: 18px;
  line-height: 1.4;
}

h1 {
  margin-top: 0px;
  margin-bottom: 20px;
  font-family: Poppins, sans-serif;
  color: #1a1930;
  font-size: 80px;
  line-height: 1.1;
  font-weight: 500;
}

h2 {
  margin-top: 0px;
  margin-bottom: 20px;
  font-family: Poppins, sans-serif;
  font-size: 70px;
  line-height: 1.1;
  font-weight: 500;
}

h3 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-family: Poppins, sans-serif;
  font-size: 45px;
  line-height: 1.1;
  font-weight: 400;
}

h4 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-family: Poppins, sans-serif;
  font-size: 35px;
  line-height: 1.1;
  font-weight: 500;
}

h5 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-family: Poppins, sans-serif;
  font-size: 26px;
  line-height: 1.1;
  font-weight: 500;
}

h6 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-family: Poppins, sans-serif;
  font-size: 20px;
  line-height: 1.1;
  font-weight: 500;
}

p {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 400;
}

a {
  color: #6259ea;
  text-decoration: underline;
}

a:hover {
  color: #b94af7;
}

ul {
  margin-top: 0px;
  margin-bottom: 10px;
  padding-left: 20px;
}

ol {
  margin-top: 0px;
  margin-bottom: 10px;
  padding-left: 26px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

blockquote {
  margin-bottom: 10px;
  padding: 40px;
  border-top: 1px solid #e7e5ff;
  border-bottom: 1px solid #e7e5ff;
  border-left: 5px none #e2e2e2;
  background-color: #fbfbff;
  font-size: 18px;
  line-height: 22px;
}

.wrap {
  overflow: hidden;
}

.container {
  max-width: 1340px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

.header {
  position: relative;
  min-height: 900px;
  background-color: transparent;
  background-image: linear-gradient(154deg, #000, #fff);
}

.navbar {
  margin-bottom: 100px;
  padding-top: 36px;
  padding-bottom: 36px;
  background-color: transparent;
  font-size: 18px;
}

.nav-menu {
  float: none;
  color: #1a1930;
}

.logo {
  display: block;
  float: none;
}

.logo.inner {
  display: none;
}

.nav-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.row {
  margin-right: -10px;
  margin-left: -10px;
}

.row.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.row.flex.bottom {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.row.flex.center {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav-link {
  position: relative;
  margin-right: 12px;
  margin-left: 12px;
  padding: 5px 0px;
  color: #1a1930;
  text-decoration: none;
}

.button {
  padding: 17px 34px;
  border: 1px solid #000;
  border-radius: 5px;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.button.glass {
  border-width: 2px;
  border-color: hsla(0, 0%, 100%, 0.4);
  background-color: hsla(0, 0%, 100%, 0.4);
  box-shadow: 0 4px 20px 0 hsla(0, 0%, 75.7%, 0.3);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  -webkit-transition: border-color 200ms ease, background-color 200ms ease;
  transition: border-color 200ms ease, background-color 200ms ease;
  color: #1a1930;
}

.button.glass:hover {
  border-color: #6259ea;
  background-color: hsla(0, 0%, 100%, 0.6);
}

.button.glass.simple:hover {
  border-color: #fbfbff;
}

.button.glass.simple.tablet-only {
  border-radius: 20px;
  background-color: #6259ea;
}

.button.color {
  border-width: 2px;
  border-color: transparent;
  background-color: #6259ea;
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
}

.button.color:hover {
  background-color: #b94af7;
  color: #fff;
}

.button.color.block {
  display: block;
  width: 100%;
  border-radius: 8px;
}

.nav-link-underline {
  position: absolute;
  left: 0%;
  top: auto;
  right: auto;
  bottom: 0%;
  width: 0%;
  height: 2px;
  background-color: #1a1930;
}

.text-large {
  font-size: 30px;
}

.text-large.mb-50 {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#0f0), to(#fff));
  background-image: linear-gradient(0deg, #0f0, #fff);
  font-size: 40px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-80 {
  margin-bottom: 80px;
}

.mb-100 {
  margin-bottom: 100px;
}

.link-button {
  position: relative;
  display: inline-block;
  padding-left: 24px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Poppins, sans-serif;
  color: #1a1930;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
}

.link-button:hover {
  color: #1a1930;
}

.link-circle {
  position: absolute;
  left: 0%;
  top: 50%;
  right: auto;
  bottom: auto;
  display: block;
  width: 14px;
  height: 14px;
  margin-top: -7px;
  border-radius: 50%;
  background-color: #ea5959;
}

.mb-150 {
  margin-bottom: 150px;
}

.social-link {
  display: block;
  width: 25px;
  height: 25px;
  margin-top: 15px;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

.social-link.twitter {
  background-image: url('../images/twitter_1.svg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.social-link.twitter:hover {
  background-image: url('../images/twitter.svg');
}

.social-link.insta {
  background-image: url('../images/instagram_1.svg');
  background-position: 0px 0px;
  background-size: cover;
}

.social-link.insta:hover {
  background-image: url('../images/instagram.svg');
}

.social-link.fb {
  background-image: url('../images/social-media_1.svg');
  background-position: 0px 0px;
  background-size: cover;
}

.social-link.fb:hover {
  background-image: url('../images/social-media.svg');
}

.social-links {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  clear: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.header-content {
  position: relative;
  z-index: 2;
  padding-bottom: 100px;
}

.section-companies {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #e7e5ff;
}

.company-image {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-height: 120px;
  max-width: 140px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -o-object-fit: contain;
  object-fit: contain;
}

.companies-row {
  width: 200%;
  margin-right: -10px;
  margin-left: -10px;
}

.company-image-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 120px;
  padding-right: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.section-numbers {
  position: relative;
  padding-top: 100px;
  padding-bottom: 50px;
  background-color: #fff;
}

.subtitle {
  font-family: Poppins, sans-serif;
  color: #2d2b5c;
  font-weight: 500;
  text-transform: uppercase;
}

.mb-10 {
  margin-bottom: 10px;
}

.numbers-right {
  padding-top: 72px;
}

.numbers-item {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 30px;
  padding-bottom: 30px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-0 {
  margin-bottom: 0px;
}

.number-text {
  width: 40%;
  color: #2d2b5c;
  font-size: 80px;
  text-align: right;
}

.text-black {
  color: #1a1930;
}

.numbers-item-content {
  width: 60%;
}

.divider {
  display: block;
  width: 8000px;
  height: 2px;
  background-color: #e7e5ff;
}

.divider.left {
  position: absolute;
  right: 0px;
}

.divider.small {
  height: 1px;
}

.numbers-item-divider {
  position: absolute;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: auto;
}

.numbers-row {
  position: relative;
}

.numbers-row-divider {
  position: absolute;
  left: 0%;
  top: auto;
  right: auto;
  bottom: 0%;
  margin-bottom: -2px;
}

.numbers-bg-image {
  position: absolute;
  left: 50%;
  top: 0%;
  right: auto;
  bottom: auto;
  z-index: 0;
  margin-top: -95px;
  margin-left: -540px;
  -webkit-transform: translate(-50%, 0px);
  -ms-transform: translate(-50%, 0px);
  transform: translate(-50%, 0px);
}

.numbers-row-content {
  position: relative;
  z-index: 1;
}

.section-features {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #fff;
}

.align-right {
  text-align: right;
}

.features-item {
  position: relative;
  height: 100%;
}

.mb-30 {
  margin-bottom: 30px;
}

.features-bullet {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.features-bullet.last {
  margin-bottom: 0px;
}

.features-bullet.mb-10 {
  margin-bottom: 10px;
}

.features-bullet.mb-50 {
  margin-bottom: 50px;
}

.features-bullet-icon {
  margin-top: 2px;
  margin-right: 20px;
}

.features-bullet-icon.hidden {
  opacity: 0;
}

.font-400 {
  font-weight: 400;
}

.feature-image-1 {
  position: absolute;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: auto;
  max-width: none;
  margin-top: -30px;
  margin-left: -70px;
}

.features-item-content {
  position: relative;
  z-index: 2;
  height: 100%;
  margin-right: -10px;
  margin-left: -10px;
  padding-right: 50px;
  padding-left: 50px;
  border-right: 2px solid #e7e5ff;
}

.features-item-content.last {
  border-right-color: transparent;
}

.features-row-container {
  position: relative;
  padding: 50px 10px 60px;
}

.features-row-bg {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  border: 1px solid #fbfbff;
  border-radius: 10px;
  background-color: hsla(0, 0%, 100%, 0.6);
  box-shadow: 0 4px 20px 0 hsla(0, 0%, 75.7%, 0.3);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
}

.feature-image-2 {
  position: absolute;
  left: 0%;
  top: auto;
  right: auto;
  bottom: 0%;
  max-width: none;
  margin-bottom: -140px;
}

.feature-image-3 {
  position: absolute;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: auto;
  max-width: none;
  margin-top: -140px;
  margin-left: 40px;
}

.section-video {
  padding-top: 50px;
  padding-bottom: 100px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), color-stop(40%, #fff), color-stop(0, #e7e5ff), to(#e7e5ff));
  background-image: linear-gradient(180deg, #fff, #fff 40%, #e7e5ff 0, #e7e5ff);
}

.background-video {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 10px;
}

.background-video-container {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 20px 0 hsla(0, 0%, 75.7%, 0.6);
}

.video {
  z-index: 1;
  display: block;
}

.mr-10 {
  margin-right: 10px;
}

.section {
  padding-top: 100px;
  padding-bottom: 100px;
}

.section.white {
  background-color: #fff;
}

.tech-image {
  width: 694px;
  max-width: none;
  margin: -34% 30px -30% -370px;
}

.section-plans {
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #fff;
}

.reuse-img {
  position: relative;
  z-index: 1;
  width: 550px;
  max-width: none;
  margin-bottom: -180px;
}

.pricing-item {
  position: relative;
  padding: 50px;
  border-style: solid;
  border-width: 2px;
  border-color: hsla(0, 0%, 100%, 0.4);
  border-radius: 10px;
  background-color: hsla(0, 0%, 100%, 0.6);
  box-shadow: 0 4px 20px 0 hsla(0, 0%, 75.7%, 0.3);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
}

.pricing-item.primary {
  border-color: #6259ea;
}

.mb-40 {
  margin-bottom: 40px;
}

.text-grey {
  color: #abaabb;
}

.pricing-action {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.price-number {
  font-size: 80px;
  line-height: 1.1;
}

.label {
  display: inline-block;
  padding: 4px 25px;
  border-radius: 5px;
  background-color: #e7e5ff;
  font-family: Poppins, sans-serif;
  color: #2d2b5c;
  font-size: 16px;
}

.pricing-label {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  margin-top: 30px;
  margin-right: 30px;
}

.header-image {
  position: absolute;
  left: 50%;
  top: 0%;
  right: auto;
  bottom: auto;
  max-width: none;
  margin-left: 300px;
  -webkit-transform: translate(-50%, 0px);
  -ms-transform: translate(-50%, 0px);
  transform: translate(-50%, 0px);
}

.pricing-image-left {
  position: absolute;
  left: 50%;
  top: 50px;
  right: auto;
  bottom: auto;
  margin-left: -510px;
  -webkit-transform: translate(-50%, 0px);
  -ms-transform: translate(-50%, 0px);
  transform: translate(-50%, 0px);
}

.plans-content {
  position: relative;
}

.pricing-image-right {
  position: absolute;
  left: 50%;
  top: 420px;
  right: auto;
  bottom: auto;
  margin-left: 590px;
  -webkit-transform: translate(-50%, 0px);
  -ms-transform: translate(-50%, 0px);
  transform: translate(-50%, 0px);
}

.section-team-title {
  padding-top: 50px;
  padding-bottom: 0px;
  background-color: #fff;
}

.button-group {
  margin-right: -15px;
  margin-left: -15px;
}

.button-group-item {
  margin: 5px 15px;
}

.section-team-slider {
  padding-top: 80px;
  padding-bottom: 100px;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(22%, #fff), color-stop(0, #e7e5ff));
  background-image: linear-gradient(180deg, #fff 22%, #e7e5ff 0);
}

.slide-nav {
  display: none;
}

.team-slider {
  height: auto;
  padding-right: 90px;
  padding-left: 90px;
  background-color: transparent;
}

.team-item {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.team-item-photo {
  margin-bottom: 20px;
  border-radius: 50%;
}

.text-medium {
  font-size: 20px;
  line-height: 1.1;
  font-weight: 500;
}

.mask.insta {
  padding: 20px 20px 24px;
}

.arrow-left {
  width: 45px;
  height: 45px;
  border: 2px solid transparent;
  border-radius: 5px;
  background-color: #fbfbff;
  background-image: url('../images/arrow-left-black.svg');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  box-shadow: 0 4px 20px 0 hsla(0, 0%, 75.7%, 0.3);
  -webkit-transition: border-color 200ms ease;
  transition: border-color 200ms ease;
}

.arrow-left:hover {
  border-style: solid;
  border-color: #6259ea;
}

.arrow-right {
  width: 45px;
  height: 45px;
  border: 2px solid transparent;
  border-radius: 5px;
  background-color: #fbfbff;
  background-image: url('../images/arrow-right-black.svg');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  box-shadow: 0 4px 20px 0 hsla(0, 0%, 75.7%, 0.3);
  -webkit-transition: border-color 200ms ease;
  transition: border-color 200ms ease;
}

.arrow-right:hover {
  border-color: #6259ea;
}

.section-faq {
  padding-top: 100px;
  padding-bottom: 60px;
  background-color: #fff;
}

.faq-img {
  max-width: none;
  margin-top: -190px;
  margin-bottom: -350px;
  margin-left: 60px;
}

.faq-dropdown {
  display: block;
  padding-top: 40px;
  padding-bottom: 40px;
  border-bottom: 2px solid #e7e5ff;
}

.faq-dropdown.last {
  border-bottom-style: none;
}

.faq-dropdown-header {
  display: block;
  max-width: 886px;
  margin-left: 0px;
  padding: 0px 0px 0px 136px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  background-image: url('../images/dropdown.svg');
  background-position: 20px 0px;
  background-repeat: no-repeat;
  white-space: normal;
}

.faq-dropdown-header.w--open {
  background-image: url('../images/dropdown-top.svg');
}

.faq-dropdown-content {
  position: static;
  padding-top: 0px;
  padding-left: 0px;
  background-color: transparent;
}

.text-dark-blue {
  color: #2d2b5c;
}

.faq-dropdown-text {
  max-width: 886px;
  padding-top: 30px;
  padding-left: 136px;
}

.section-feedback {
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #fbfbff;
}

.feedback-slider {
  height: auto;
  margin: -20px -20px -24px;
  background-color: transparent;
}

.feedback-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 50px 110px 155px;
}

.feedback-author {
  margin-right: 50px;
}

.feedback-author-photo {
  margin-bottom: 30px;
  border-radius: 50%;
}

.feedback-content {
  padding-top: 72px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.feedback-author-name {
  color: #1a1930;
  font-size: 40px;
}

.feedback-author-social {
  margin-right: 10px;
  margin-left: 10px;
}

.align-center {
  text-align: center;
}

.feedback-content-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 70px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.feedback-arrow-right {
  left: auto;
  top: auto;
  right: 130px;
  bottom: 84px;
  width: 45px;
  height: 45px;
  border-style: solid;
  border-width: 2px;
  border-color: hsla(0, 0%, 100%, 0.4);
  border-radius: 5px;
  background-color: hsla(0, 0%, 100%, 0.4);
  background-image: url('../images/arrow-right-black.svg');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  box-shadow: 0 4px 20px 0 hsla(0, 0%, 75.7%, 0.3);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  -webkit-transition: border-color 200ms ease;
  transition: border-color 200ms ease;
}

.feedback-arrow-right:hover {
  border-color: #6259ea;
}

.feedback-arrow-left {
  left: auto;
  top: auto;
  right: 205px;
  bottom: 84px;
  width: 45px;
  height: 45px;
  border-style: solid;
  border-width: 2px;
  border-color: hsla(0, 0%, 100%, 0.4);
  border-radius: 5px;
  background-color: hsla(0, 0%, 100%, 0.4);
  background-image: url('../images/arrow-left-black.svg');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  box-shadow: 0 4px 20px 0 hsla(0, 0%, 75.7%, 0.3);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  -webkit-transition: border-color 200ms ease;
  transition: border-color 200ms ease;
}

.feedback-arrow-left:hover {
  border-style: solid;
  border-color: #6259ea;
}

.feedback-text {
  overflow: hidden;
  height: 130px;
}

.feedback-container {
  position: relative;
}

.feedback-left-bg {
  position: absolute;
  left: 50%;
  top: -96px;
  right: auto;
  bottom: auto;
  margin-left: -550px;
  -webkit-transform: translate(-50%, 0px);
  -ms-transform: translate(-50%, 0px);
  transform: translate(-50%, 0px);
}

.feedback-right-bg {
  position: absolute;
  left: 50%;
  top: auto;
  right: auto;
  bottom: 55px;
  margin-left: 390px;
  -webkit-transform: translate(-50%, 0px);
  -ms-transform: translate(-50%, 0px);
  transform: translate(-50%, 0px);
}

.feedback-slider-mask {
  margin: 20px 20px 24px;
  border-style: solid;
  border-width: 1px;
  border-color: hsla(0, 0%, 100%, 0.4);
  border-radius: 10px;
  background-color: hsla(0, 0%, 100%, 0.4);
  box-shadow: 0 4px 20px 0 hsla(0, 0%, 75.7%, 0.3);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
}

.section-blog {
  padding-top: 50px;
  padding-bottom: 100px;
}

.blog-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
  margin-right: -64px;
  margin-left: -64px;
}

.blog-item {
  width: 548px;
  margin-bottom: 40px;
  padding-top: 20px;
  padding-right: 64px;
  padding-left: 64px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  border-right: 2px solid #e7e5ff;
  text-decoration: none;
}

.blog-item.last {
  border-right-color: transparent;
}

.blog-img {
  overflow: hidden;
  margin-bottom: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 20px 0 hsla(0, 0%, 75.7%, 0.6);
}

.blog-title {
  overflow: hidden;
  height: 130px;
  margin-bottom: 30px;
  font-family: Poppins, sans-serif;
  color: #1a1930;
  font-size: 35px;
  line-height: 1.2;
}

.section-contacts {
  position: relative;
  padding-top: 100px;
  padding-bottom: 50px;
  background-color: #fff;
}

.field-label {
  margin-bottom: 10px;
  font-weight: 400;
}

.input {
  height: 55px;
  margin-bottom: 20px;
  padding: 15px 20px;
  border-style: solid;
  border-width: 2px;
  border-color: hsla(0, 0%, 100%, 0.4);
  border-radius: 8px;
  background-color: hsla(0, 0%, 100%, 0.4);
  box-shadow: 0 4px 20px 0 hsla(0, 0%, 75.7%, 0.3);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  font-family: Prompt, sans-serif;
  color: #1a1930;
  font-size: 18px;
  line-height: 1.4;
  font-weight: 400;
}

.input:hover {
  border-color: #fff;
}

.input:active {
  border-color: #6259ea;
}

.input:focus {
  border-color: #6259ea;
}

.input::-webkit-input-placeholder {
  font-family: Prompt, sans-serif;
  color: #abaabb;
  font-size: 18px;
  line-height: 1.4;
  font-weight: 400;
}

.input:-ms-input-placeholder {
  font-family: Prompt, sans-serif;
  color: #abaabb;
  font-size: 18px;
  line-height: 1.4;
  font-weight: 400;
}

.input::-ms-input-placeholder {
  font-family: Prompt, sans-serif;
  color: #abaabb;
  font-size: 18px;
  line-height: 1.4;
  font-weight: 400;
}

.input::placeholder {
  font-family: Prompt, sans-serif;
  color: #abaabb;
  font-size: 18px;
  line-height: 1.4;
  font-weight: 400;
}

.input.area {
  width: 100%;
  max-height: 200px;
  max-width: 100%;
  min-height: 100px;
  min-width: 100%;
  margin-bottom: 50px;
}

.contact-help {
  max-width: 530px;
  padding-right: 30px;
  padding-left: 30px;
  background-image: url('../images/asterisk.svg');
  background-position: 0px 4px;
  background-size: auto;
  background-repeat: no-repeat;
}

.form-block {
  margin-bottom: 0px;
}

.form-block.max-600 {
  max-width: 600px;
}

.contacts-container {
  position: relative;
}

.contacts-img-left {
  position: absolute;
  left: 50%;
  top: 50px;
  right: auto;
  bottom: auto;
  margin-left: -510px;
  -webkit-transform: translate(-50%, 0px);
  -ms-transform: translate(-50%, 0px);
  transform: translate(-50%, 0px);
}

.contacts-img-right {
  position: absolute;
  left: 50%;
  top: 220px;
  right: auto;
  bottom: auto;
  margin-left: 590px;
  -webkit-transform: translate(-50%, 0px);
  -ms-transform: translate(-50%, 0px);
  transform: translate(-50%, 0px);
}

.success-message {
  padding: 40px;
  border-style: solid;
  border-width: 1px;
  border-color: hsla(0, 0%, 100%, 0.4);
  border-radius: 5px;
  background-color: hsla(0, 0%, 100%, 0.4);
  box-shadow: 0 4px 20px 0 hsla(0, 0%, 75.7%, 0.3);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
}

.success-text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  text-align: left;
}

.success-icon {
  margin-right: 20px;
}

.error-message {
  margin-top: 20px;
  padding: 40px;
  border-radius: 5px;
  background-color: rgba(234, 89, 89, 0.1);
  color: #ea5959;
  text-align: center;
}

.section-insta {
  padding-top: 100px;
  padding-bottom: 80px;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(55%, #fff), color-stop(0, #e7e5ff));
  background-image: linear-gradient(180deg, #fff 55%, #e7e5ff 0);
}

.insta-slider {
  height: auto;
  padding-right: 90px;
  padding-left: 90px;
  background-color: transparent;
}

.insta-link {
  display: block;
  width: 100%;
  height: 0px;
  padding-top: 100%;
  border-radius: 5px;
  box-shadow: 0 4px 20px 0 hsla(0, 0%, 75.7%, 0.6);
  -webkit-transition: box-shadow 200ms ease, -webkit-transform 200ms ease;
  transition: box-shadow 200ms ease, -webkit-transform 200ms ease;
  transition: transform 200ms ease, box-shadow 200ms ease;
  transition: transform 200ms ease, box-shadow 200ms ease, -webkit-transform 200ms ease;
}

.insta-link:hover {
  box-shadow: 0 14px 20px 0 hsla(0, 0%, 75.7%, 0.6);
  outline-color: #6259ea;
  -webkit-transform: translate(0px, -10px);
  -ms-transform: translate(0px, -10px);
  transform: translate(0px, -10px);
}

.insta-link._1 {
  background-image: url('../images/blog-2.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.insta-link._2 {
  background-image: url('../images/blog-3.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.insta-link._3 {
  background-image: url('../images/blog-1.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.insta-link._4 {
  background-image: url('../images/blog-4.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.insta-link._5 {
  background-image: url('../images/blog-5.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.insta-links-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: -10px;
  margin-left: -10px;
}

.insta-links-block {
  width: 20%;
  padding-right: 10px;
  padding-left: 10px;
}

.footer {
  padding-top: 85px;
  padding-bottom: 67px;
  background-color: #1a1930;
}

.text-white {
  color: #fff;
}

.text-small {
  font-family: Prompt, sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.footer-email {
  text-decoration: none;
}

.footer-email:hover {
  text-decoration: underline;
}

.mb-60 {
  margin-bottom: 60px;
}

.footer-link {
  display: block;
  margin-bottom: 10px;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  color: #fbfbff;
  text-decoration: none;
}

.footer-link:hover {
  color: #b94af7;
}

.footer-col-left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.mt-15 {
  margin-top: 15px;
}

.footer-img {
  position: absolute;
  max-width: none;
  margin-top: -60px;
  margin-left: -80px;
}

.text-center {
  text-align: center;
}

.style-guide-header {
  padding-bottom: 150px;
  background-color: #fbfbff;
  background-image: url('../images/feature-2.png'), url('../images/in-numbers-bg.png');
  background-position: 100% 0%, 0% 70%;
  background-size: 300px, 400px;
  background-repeat: no-repeat, no-repeat;
}

.style-guide-color {
  padding-top: 100%;
  border-radius: 10px;
}

.style-guide-color._1 {
  background-color: #1a1930;
}

.style-guide-color._2 {
  border-style: solid;
  border-width: 1px;
  border-color: #abaabb;
  background-color: #fbfbff;
}

.style-guide-color._3 {
  background-color: #b94af7;
}

.style-guide-color._4 {
  border-style: solid;
  border-width: 1px;
  border-color: #abaabb;
  background-color: #fff;
}

.style-guide-color._5 {
  background-color: #6259ea;
}

.style-guide-color._6 {
  background-color: #ea5959;
}

.style-guide-color._7 {
  background-color: #e7e5ff;
}

.style-guide-color._8 {
  background-color: #2d2b5c;
}

.style-guide-color._9 {
  background-color: #abaabb;
}

.assets-img {
  margin-right: 40px;
  padding: 40px;
  border-style: solid;
  border-width: 1px;
  border-color: #abaabb;
  border-radius: 10px;
  -o-object-fit: contain;
  object-fit: contain;
}

.assets-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 60px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  text-align: center;
}

.security-icon {
  margin-bottom: 20px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.bold-text {
  font-size: 20px;
}

.subscript {
  font-size: 30px;
}

.subscript-2 {
  font-size: 30px;
}

@media screen and (max-width: 991px) {
  body {
    font-size: 16px;
  }

  h1 {
    font-size: 60px;
  }

  h2 {
    font-size: 50px;
  }

  h3 {
    font-size: 40px;
  }

  h4 {
    font-size: 30px;
  }

  p {
    font-size: 16px;
  }

  .header {
    min-height: auto;
    background-image: none;
  }

  .navbar {
    margin-bottom: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .nav-menu {
    position: fixed;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    z-index: 1;
    overflow: auto;
    padding-top: 130px;
    padding-bottom: 20px;
    background-color: #1a1930;
    color: #fbfbff;
  }

  .logo.w--current {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
  }

  .logo.inner {
    position: absolute;
    left: 0%;
    top: 0%;
    right: auto;
    bottom: auto;
    display: block;
    margin-top: 23px;
    margin-left: 20px;
  }

  .nav-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .row.flex {
    display: block;
  }

  .row.flex.bottom {
    display: block;
  }

  .row.flex.bottom.contacts-row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .row.flex.footer-row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .nav-link {
    display: block;
    margin-right: 0px;
    margin-bottom: 5px;
    margin-left: 0px;
    padding-right: 20px;
    padding-left: 20px;
    font-family: Poppins, sans-serif;
    color: #fbfbff;
    font-size: 30px;
    text-align: left;
  }

  .nav-link:hover {
    color: #b94af7;
  }

  .button {
    padding: 14px 26px;
  }

  .button.glass.button-group-item {
    margin-right: 10px;
    margin-left: 10px;
  }

  .button.color.button-group-item {
    margin-right: 10px;
    margin-left: 10px;
  }

  .text-large {
    font-size: 24px;
  }

  .mb-50 {
    margin-bottom: 30px;
  }

  .mb-80 {
    margin-bottom: 30px;
  }

  .mb-100 {
    margin-bottom: 40px;
  }

  .mb-150 {
    margin-bottom: 50px;
  }

  .social-link {
    margin-right: 5px;
    margin-left: 5px;
  }

  .social-links {
    display: none;
    margin-top: 60px;
    margin-right: -10px;
    margin-left: -10px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .section-companies {
    padding: 30px 20px;
  }

  .company-image {
    max-width: 140px;
  }

  .companies-row {
    width: auto;
  }

  .company-image-container {
    height: 100px;
  }

  .number-text {
    font-size: 60px;
  }

  .numbers-bg-image {
    max-width: 400px;
    margin-top: -70px;
    margin-left: -310px;
  }

  .align-right.mob-left {
    text-align: left;
  }

  .mb-30 {
    margin-bottom: 20px;
  }

  .features-bullet-icon {
    width: 18px;
    margin-right: 10px;
  }

  .features-item-content {
    margin-right: 20px;
    margin-bottom: 30px;
    margin-left: 20px;
    padding-right: 0px;
    padding-bottom: 30px;
    padding-left: 0px;
    border-bottom: 2px solid #e7e5ff;
    border-right-style: none;
  }

  .features-item-content.last {
    margin-bottom: 0px;
    padding-bottom: 0px;
    border-bottom-style: none;
  }

  .feature-image-2 {
    left: auto;
    top: auto;
    right: 0%;
    bottom: 0%;
    margin-right: -80px;
    margin-bottom: -10px;
  }

  .feature-image-3 {
    margin-top: 0px;
    margin-left: -130px;
  }

  .tech-image {
    width: 400px;
    margin-top: -20%;
    margin-bottom: 70px;
    margin-left: -140px;
  }

  .section-plans {
    padding-bottom: 80px;
  }

  .reuse-img {
    width: 350px;
  }

  .pricing-item {
    margin-bottom: 20px;
  }

  .mb-40 {
    margin-bottom: 25px;
  }

  .price-number {
    font-size: 60px;
  }

  .header-image {
    width: 590px;
    margin-left: 210px;
  }

  .pricing-image-left {
    max-width: 400px;
    margin-left: -260px;
  }

  .pricing-image-right {
    top: auto;
    bottom: 0px;
    margin-bottom: 270px;
    margin-left: 360px;
  }

  .button-group {
    margin-top: 20px;
    margin-right: -10px;
    margin-left: -10px;
  }

  .section-team-slider {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(15%, #fff), color-stop(0, #e7e5ff));
    background-image: linear-gradient(180deg, #fff 15%, #e7e5ff 0);
  }

  .team-slider {
    padding-right: 50px;
    padding-left: 50px;
  }

  .faq-img {
    max-width: 400px;
    margin-top: -249px;
    margin-left: 50%;
  }

  .faq-dropdown-header {
    padding-left: 70px;
    background-position: 0px 0px;
    background-size: 44px;
  }

  .faq-dropdown-text {
    padding-left: 70px;
  }

  .section-feedback {
    padding-bottom: 60px;
  }

  .feedback-slider {
    margin-top: 0px;
  }

  .feedback-item {
    padding: 40px 40px 110px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .feedback-author-photo {
    max-width: 140px;
  }

  .feedback-content {
    padding-top: 20px;
  }

  .feedback-content-header {
    margin-bottom: 40px;
  }

  .feedback-arrow-right {
    right: 60px;
    bottom: 40px;
  }

  .feedback-arrow-left {
    right: 120px;
    bottom: 40px;
  }

  .feedback-text {
    height: 200px;
  }

  .feedback-left-bg {
    max-width: 300px;
    margin-top: 130px;
    margin-left: -330px;
  }

  .feedback-right-bg {
    margin-left: 320px;
  }

  .blog-container {
    margin-right: -20px;
    margin-left: -20px;
  }

  .blog-item {
    width: 300px;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .blog-title {
    height: 79px;
    margin-bottom: 20px;
    font-size: 22px;
  }

  .contact-help {
    margin-top: 40px;
  }

  .contacts-img-left {
    max-width: 400px;
    margin-top: -70px;
    margin-left: -330px;
  }

  .contacts-img-right {
    margin-top: 100px;
    margin-left: 300px;
  }

  .section-insta {
    padding-top: 50px;
    padding-bottom: 60px;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #fff), color-stop(0, #e7e5ff));
    background-image: linear-gradient(180deg, #fff 50%, #e7e5ff 0);
  }

  .insta-slider {
    padding-right: 50px;
    padding-left: 50px;
  }

  .footer {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .footer-col-left {
    margin-top: 20px;
  }

  .footer-img {
    left: auto;
    top: 0%;
    right: 0%;
    bottom: auto;
  }

  .company-duplicate {
    display: none;
  }

  .desktop-only {
    display: none;
  }

  .menu-button {
    width: 54.4px;
    height: 54.4px;
    margin-left: 10px;
    padding: 0px;
    border-style: solid;
    border-width: 2px;
    border-color: hsla(0, 0%, 100%, 0.4);
    border-radius: 5px;
    background-color: hsla(0, 0%, 100%, 0.4);
    background-image: url('../images/mob-menu.svg');
    background-position: 50% 50%;
    background-size: 25px;
    background-repeat: no-repeat;
    box-shadow: 0 4px 20px 0 hsla(0, 0%, 75.7%, 0.3);
    font-size: 0px;
    line-height: 0;
  }

  .menu-button.inner {
    position: absolute;
    left: auto;
    top: 0%;
    right: 0%;
    bottom: auto;
    margin-top: 20px;
    margin-right: 20px;
    float: none;
    background-image: url('../images/mob-menu-close.svg');
  }

  .style-guide-header {
    background-image: url('../images/in-numbers-bg.png');
    background-position: 0% 70%;
    background-size: 400px;
    background-repeat: no-repeat;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 50px;
  }

  .logo {
    padding-left: 0px;
  }

  .numbers-right {
    padding-top: 20px;
  }

  .numbers-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .mb-0.align-right {
    text-align: left;
  }

  .number-text {
    width: 100%;
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
    text-align: left;
  }

  .numbers-item-content {
    width: 100%;
  }

  .numbers-bg-image {
    margin-left: -190px;
  }

  .section-features {
    padding-top: 50px;
  }

  .tech-image {
    position: absolute;
    display: none;
    margin-top: -30%;
    margin-left: -330px;
  }

  .reuse-img {
    position: absolute;
    display: none;
    margin-top: -410px;
  }

  .insta-links-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .insta-links-block {
    width: 70%;
    margin: 10px auto;
  }

  .tablet-only {
    display: none;
  }

  .assets-img {
    margin-bottom: 20px;
  }

  .assets-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
}

@media screen and (max-width: 479px) {
  h2 {
    font-size: 40px;
  }

  h3 {
    font-size: 30px;
  }

  h4 {
    font-size: 26px;
  }

  .nav-menu {
    display: block;
  }

  .button {
    display: block;
    text-align: center;
  }

  .text-large {
    font-size: 20px;
  }

  .pricing-item {
    padding: 20px;
  }

  .pricing-action {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }

  .price-number {
    display: inline-block;
    margin-bottom: 20px;
  }

  .pricing-label {
    position: static;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
  }

  .pricing-image-left {
    margin-left: -140px;
  }

  .pricing-image-right {
    margin-left: 140px;
  }

  .button-group-item {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .section-team-slider {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(6%, #fff), color-stop(0, #e7e5ff));
    background-image: linear-gradient(180deg, #fff 6%, #e7e5ff 0);
  }

  .feedback-item {
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .feedback-author-name {
    font-size: 30px;
  }

  .feedback-content-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .feedback-arrow-right {
    right: 40px;
    bottom: 20px;
  }

  .feedback-arrow-left {
    right: 100px;
    bottom: 20px;
  }

  .feedback-left-bg {
    margin-left: -100px;
  }

  .feedback-right-bg {
    margin-left: 120px;
  }

  .blog-item {
    width: 280px;
  }

  .contacts-img-left {
    margin-left: -190px;
  }

  .contacts-img-right {
    margin-left: 190px;
  }

  .insta-links-block {
    width: 100%;
  }

  .tablet-only {
    display: none;
  }

  .stars-img {
    margin-top: 20px;
  }
}

